* {
    padding: 0;
    margin: 0;
}
body {
    background-color: black;
    display: grid;
    place-content: center;
    height: 100vh;
}
.container{
    background-color: bisque;
    width: 500px;
    height: 500px;
    padding: 10px;
    border: darkred 5px solid;
    border-radius: 10px;
    display: grid;
    place-content: center;
    position: relative;
}

nav {
    position: absolute;
    top: 5%;
    left: 30%;
    display: flex;
    gap: 20px;
}

nav a {
    all: unset;
    background-color: black;
    border-radius: 10px;
    padding: 10px;
    color: bisque;
    font-weight: bold;
    transition: .2s ease-in-out;
    cursor: pointer;
}

nav a:hover {
    background-color: bisque;
    color: black;
    transition: .2s ease-in-out;
}

